services:
  web:
    image: nginx:latest
    restart: ${RESTART}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./src/app:/var/www/html
      - ./public:/public
      - ./imserso:/imserso
      - ./conf/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./local/certs:/certs:ro
    links:
      - php
      - pma
      - nextcloud
      - svn
    networks:
      - default
    environment:
      TZ: "Europe/Madrid"
  php:
    build: php    
    restart: ${RESTART}
    volumes:
      - ./src/app:/var/www/html
      - ./php/conf:/usr/local/etc/php
    environment:
      TZ: "Europe/Madrid"
      BDPASS: ${BDPASS}
  db:
    image: mysql:8.0
    restart: ${RESTART}
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: macetero
      MYSQL_USER: macetero
      MYSQL_PASSWORD: ${BDPASS}
      MYSQL_ROOT_PASSWORD: ${BDPASS}
      TZ: "Europe/Madrid"
    volumes:
      - ./dump:/docker-entrypoint-initdb.d
      - ./conf:/etc/mysql/conf.d
      - persistent:/var/lib/mysql
    networks:
      - default
  pma:
    image: phpmyadmin/phpmyadmin
    restart: ${RESTART}
    volumes:
      - ./conf/phpmyadmin.php:/etc/phpmyadmin/config.user.inc.php
    links:
      - db:db
    ports:
      - 8000:80
    networks:
      - default
    environment:
      MYSQL_USER: macetero
      MYSQL_PASSWORD: ${BDPASS}
      MYSQL_ROOT_PASSWORD: ${BDPASS}
      PMA_ABSOLUTE_URI: http://localhost/pma/
      TZ: "Europe/Madrid"
  nextcloud:
    image: nextcloud
    restart: ${RESTART}
    volumes:
        - nextcloud:/var/www/html
    ports:
      - 9000:80
    links:
      - db
    environment:      
      TZ: "Europe/Madrid"
      MYSQL_PASSWORD: ${BDPASS}
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: root
      MYSQL_HOST: db
      NEXTCLOUD_ADMIN_USER: luis 
      NEXTCLOUD_ADMIN_PASSWORD: luis 
      OVERWRITEWEBROOT: /nextcloud
      OVERWRITECLIURL: http://macetero.duckdns.org/nextcloud
      NEXTCLOUD_TRUSTED_DOMAINS: macetero.duckdns.org
  #--------------------------------------------------------------------- 
  # Servidor de SVN. Se pueden importar los proyectos que tenga de otro servidor
  # mediante la siguiente expresión:
  #   svnrdump --file=riouxsvn.dump --username=luis --password=pi--2018 load svn://192.168.1.139/dev/apps
  #
  # Para acceder a él siempre hay que usar el protocolo svn://xxxx , que va por el puerto 3690 que tendremos
  # que abrir en el Router.
  #
  # Para navegar via web en el repositorio utilizar http://xxx:9001/websvn
  #
  #
  #---------------------------------------------------------------------
  svn:
    image: iaean/subversion
    restart: ${RESTART}
    ports:
      - 9001:80
      - 3690:3690
    volumes:
      - svn:/data/svn
    environment:
      SVN_LOCAL_ADMIN_USER: ${SVN_LOCAL_ADMIN_USER}
      SVN_LOCAL_ADMIN_PASS: ${SVN_LOCAL_ADMIN_PASS}
      SUBVERSION_REPOS: dev/apps
    networks:
      - default    
        

volumes:
  persistent:
  nextcloud:
  svn:
