services:
  web:
    image: nginx:latest
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./src/app:/var/www/html
      - ./public:/public
      - ./conf/nginx.conf:/etc/nginx/conf.d/default.conf
    links:
      - php
    networks:
      - default
    environment:
      TZ: "Europe/Madrid"
  php:
    build: php    
    restart: always
    volumes:
      - ./src/app:/var/www/html
      - ./php/conf:/usr/local/etc/php
    environment:
      TZ: "Europe/Madrid"
  db:
    image: mysql:8.0
    restart: always
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: macetero
      MYSQL_USER: macetero
      MYSQL_PASSWORD: ${BDPASS}
      MYSQL_ROOT_PASSWORD: ${BDPASS}
      TZ: "Europe/Madrid"
    volumes:
      - ./dump:/docker-entrypoint-initdb.d
      - ./conf:/etc/mysql/conf.d
      - persistent:/var/lib/mysql
    networks:
      - default
  pma:
    image: phpmyadmin/phpmyadmin
    restart: always
    volumes:
      - ./conf/phpmyadmin.php:/etc/phpmyadmin/config.user.inc.php
    links:
      - db:db
    ports:
      - 8000:80
    networks:
      - default
    environment:
      MYSQL_USER: macetero
      MYSQL_PASSWORD: ${BDPASS}
      MYSQL_ROOT_PASSWORD: ${BDPASS}
      PMA_ABSOLUTE_URI: http://localhost/pma/
      TZ: "Europe/Madrid"
  nextcloud:
    image: nextcloud
    restart: always
    volumes:
        - nextcloud:/var/www/html
    ports:
      - 9000:80
    links:
      - db
    environment:      
      TZ: "Europe/Madrid"
      MYSQL_PASSWORD: ${BDPASS}
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: root
      MYSQL_HOST: db
      NEXTCLOUD_ADMIN_USER: luis 
      NEXTCLOUD_ADMIN_PASSWORD: luis 
      OVERWRITEWEBROOT: /nextcloud
      OVERWRITECLIURL: http://macetero.duckdns.org/nextcloud
      NEXTCLOUD_TRUSTED_DOMAINS: macetero.duckdns.org 
        

volumes:
  persistent:
  nextcloud:
