services:
  web:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./src/app:/var/www/html
      - ./conf/nginx.conf:/etc/nginx/conf.d/default.conf
    links:
      - php
    networks:
      - default
  php:
    build: php    
    volumes:
      - ./src/app:/var/www/html
      - ./php/conf:/usr/local/etc/php
  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: macetero
      MYSQL_USER: macetero
      MYSQL_PASSWORD: pi--2018
      MYSQL_ROOT_PASSWORD: pi--2018
    volumes:
      - ./dump:/docker-entrypoint-initdb.d
      - ./conf:/etc/mysql/conf.d
      - persistent:/var/lib/mysql
    networks:
      - default
  pma:
    image: phpmyadmin/phpmyadmin
    volumes:
      - ./conf/phpmyadmin.php:/etc/phpmyadmin/config.user.inc.php
    links:
      - db:db
    ports:
      - 8000:80
    networks:
      - default
    environment:
      MYSQL_USER: macetero
      MYSQL_PASSWORD: pi--2018
      MYSQL_ROOT_PASSWORD: pi--2018
      PMA_ABSOLUTE_URI: http://localhost/pma/
  nextcloud:
    image: nextcloud
    volumes:
      - nextcloud:/var/www/html/data
      - ./conf/nextcloud.php:/var/www/html/config/config.php
    ports:
      - 9000:80
    links:
      - db
    environment:
      MYSQL_PASSWORD: pi--2018
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: root
      MYSQL_HOST: db

volumes:
  persistent:
  nextcloud:
