services:
  www:
    build: .
    ports:
      - "80:80"
    volumes:
      - ./www:/var/www/html
      - ./httpd.conf:/etc/apache2/sites-enabled/000-default.conf
    links:
      - db
    networks:
      - default
  db:
    image: mysql:8.0
    ports:
      - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: macetero
      MYSQL_USER: macetero
      MYSQL_PASSWORD: pi--2018
      MYSQL_ROOT_PASSWORD: pi--2018
    volumes:
      - ./dump:/docker-entrypoint-initdb.d
      - ./conf:/etc/mysql/conf.d
      - persistent:/var/lib/mysql
    networks:
      - default
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    links:
      - db:db
    ports:
      - 8000:80
    networks:
      - default
    environment:
      MYSQL_USER: macetero
      MYSQL_PASSWORD: pi--2018
      MYSQL_ROOT_PASSWORD: pi--2018
volumes:
  persistent:
